{% extends 'cars/base.html' %}

{% block title %} {% endblock %}

{% block content %}
<h2>Prediction Results</h2>
<h6>Please keep in mind that the model being used is not 100% accurate, so treat the prediction as an estimate or something to go off of.</h6>
<h6>Also keep in mind that I am working with a very limited and maybe outdated dataset so not every car may be available and every car price may not be what it's worth today.</h6>
{% if prediction %}
    <p>Predicted Value: ${{ prediction }}</p>
{% else %}
    <p>No prediction available.</p>
{% endif %}
<h2>Averages</h2>
<h6>The results below are from the Marketcheck api.</h6>
<h6>Keep in mind this is just another resource and this is the averages for the given make, model, and year on the market right now.</h6>
<ul>
    <li>Average Price: ${{ avg_price|default:"Info not available" }}</li>
    <li>Average Mileage: {{ avg_mileage|default:"Info not available" }}</li>
    <li>Average Days on Market (DOM): {{ avg_dom|default:"Info not available" }}</li>
    <li>Average Days on Market (180 Days): {{ avg_dom_180|default:"Info not available" }}</li>
</ul>

<a href="{% url 'search' %}" class="btn btn-primary">Back to Search</a>
{% endblock %}
