{% extends 'cars/base.html' %}

{% block title %} {% endblock %}

{% block content %}
<h1>Welcome to my app, login or register to continue.</h1> 
<h3>About</h3>
<p>This app's main purpose is to give users a solid estimated price for a given vehicle based on the car's make, model, and year. There will be more features to come in the future that will provide more information and give a bettere user experience. This app makes use of Python's Django framework to give a UI for a xgboost gradient boosting machine learning model. The data is mainly processed and stored using Pandas and a Postgresql database. As far as the front end, it makes use of Bootstrap to give a better viewing experience but it will continue to improve.</p>
<h3>Contact</h3>
<p>My name is Austin Villanueva and I am a computer science major at UCF.</p>
<a href="https://www.linkedin.com/in/austin-villanueva-56abbb2b2">Linkedin</a>
<p> </p>
<a href="https://github.com/avillann00">Github</a>
{% endblock %}
